* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  transform: scale(1);

  &:hover,
  &.active {
    transform: scale(0.9);
    color: #999;
  }
}
